{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="contactsHeader">
        <div class="heading">
          <h1 class="headingText">Welcome to Contacts App</h1>
        </div>
        <div class="actions">
          <button class="addContactsButton" id="addContacts">Add Contact</button>
        </div>
      </div>
      <div class="contacts">
        <div class="table">
          <div class="header">
            <div class="col1">
              Name
            </div>
            <div class="col2">
              Email
            </div>
            <div class="col3">
              Note
            </div>
            <!-- assumption: Adding another column for 'action' buttons is a solid UX decision -->
            <div class="col4">
              Action
            </div>
          </div>
          <div class="tableBody">
              {% for contact in contacts %}
                <div class="tableRow">
                    <div class="col1">
                      {{ contact.name }}
                    </div>
                    <div class="col2">
                      {{ contact.email }}
                    </div>
                    <div class="col3">
                      {{ contact.note }}
                    </div>
                    <div class="col4">
                      <button class="deleteButton" data-contact-id="{{ contact.id }}" onclick="deleteContact(this)">Delete</button>
                    </div>
                </div>
              {% endfor %}
              {% if contacts|length == 0 %}
                <div class="tableRowMessage">
                  No contacts found.
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- modal source https://www.w3schools.com/howto/howto_css_modals.asp -->

    <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="addFormContainer">
        <h3 class="addFormTitle">Add a contact</h3>
        <div id="errors"></div>
        <form onsubmit="submitAddForm(); return false;" class="addForm">
          <input type="text" placeholder="name" name="name" id="addFormName" class="addFormInput">
          <input type="text" placeholder="email" name="email" id="addFormEmail" class="addFormInput">
          <input type="text" placeholder="note" name="note" id="addFormNote" class="addFormInput">
          <input type="submit" name="submit" label="Submit" class="addFormSubmit">
        </form>
      </div>
    </div>

  </div>
{% endblock content %}